<div class="row">
      <div class="buttons col s3" *ngFor="let character of characters.characters">
        <button type="button" class="btn waves-effect lighten-1" (click)="onSelect(character)" >
          <i class="material-icons right">person</i>
          <span>{{character.name}}</span>
        </button>
      </div>
</div>
<div class="row" *ngFor="let film of films">
  <div class="col s12 m6" *ngIf="!error" >
    <div class="card darken-1">
      <div class="card-content">
        <div class="film-list" >
          <span class="card-title">{{film.title}}</span>
        </div>
        <p>{{film.opening_crawl}}</p>
        <p>{{film.release_date | date:'EEEE, MMMM d, y'}}</p>
        <p>{{film.director}}</p>
        <p>{{film.producer}}</p>
      </div>
    </div>
  </div>
</div>
<div class="col s12" *ngIf="error">
  <div class="card blue-grey darken-1">
    <div class="card-content">
      <h1>Error: {{error.error.detail}} :(</h1>
    </div>
  </div>
</div>
