.detail-content p{
    margin-bottom: 10px;
}

.detail-content a{
    margin: 20px 0;
}

.manage-collection{
    border:0
}
.manage-collection .collection-item{
    padding: 10px 20px 10px 0;
    border: 0
}
.manage-collection .collection-item .title{
    color: #039be5;
}

.agencies-action .dropdown-content li>span{
    color: #039be5 ;
}

.custom-tabs{
    background: #fff;
    margin-left: 0;
    margin-right: 0;
}

select{
    display: block !important;

    border: 0;
    border-bottom: 1px solid #e5e5e5;
    
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
    padding-right: 14px;
}

select ~label{
    position: absolute;
    top: -14px;
    font-size: 0.8rem;
}

.panel-wrapper .title{
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}
.info-panel{
    height: 150px;
}
.info-panel .title{
    font-weight: bold;
    border:0;
}
.info-panel .number{
    text-align: center;
    font-size: 50px;
    font-weight:bold;
    border-bottom: 1px solid #ccc;
}
.info-panel .remark{
    text-align: center;
}

