<div class="row">
  <div class="col s12">
    <form>
      <div class="row">
        <div class="col s5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            #nameInput>
        </div>
        <div class="col s2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="btn waves-effect waves-light lighten-2" (click)="onAddItem()">Add</button>
          <button class="btn waves-effect waves-light red lighten-2">Delete</button>
          <button class="btn waves-effect waves-light blue lighten-2">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
